/data
/.snakemake
/logs
/submission
/envs/*.sif
/.java
nohup.out
/*.pdf
/*.png
/scripts/JUM_3.0.0
/scripts/jum*
/scripts/ikremsky/
/zenodo
/.cache
/.conda
/.config
/.condarc
conda.config
envs/*simg
envs/Dockerfile
scripts/R
cellage3.tsv
signatures1.csv
vscodefix.sh
hgnc_complete_set_2024-10-01.tsv
splicing_genes.tsv
scripts/analyze_diff_expr.pl
trimmed_hgnc_complete_set_2024-10-01.tsv
dexseq_diadumene_lineata_transcriptome_merged_df.tsv
scripts/PtR
envs/trinity_conda*
envs/trinity2.yaml
trinity_conda.yml